*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.webapp{
  height: 100vh;
  overflow: hidden;
  background-color: black;
  padding: 25vh 0px;
  color: white;
}

.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contain{
  position: relative;
  margin: 5px 2px;
}

.img-casual{
  width: 200px;
}

.microphone-name{
  display: inline-block;
  text-align: left;
  width: 100px;
  background-color: grey;
  position: absolute;
  left: 0px;
  bottom: 4px;

}



/*DEBUG*/


.debug .col-7{
  background-color: cadetblue;
  border: 2px solid black;
  padding: 80px;
  color: white;
}